*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;
  border: 2px solid orangered;
  padding: 4rem;
}

.form__group:not(:last-child) {
  margin-bottom: 3rem;
}
